{% extends 'base.html' %}
{% block head %}
  <title>Omerta About</title>
{% endblock %}

{% block body %}
  <div class="main-screen centered-image full-screen" style="background-image: url(./static/img/about-bg.jpg)"></div>
  <div class="capability">
    <div class="capability__text">{{ error }}</div>
    <div class="capability__text">{{ about_us.information | linebreaks }}</div>
  </div>
  <a class="logo-link production-logo only-mobile" href="{% url 'works' %}">
    <svg class="icon-logo logo">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
    </svg>
  </a>
{% endblock %}