{% extends 'base.html' %}
{% block head %}
  <meta name="keywords" content="production service company, shooting in Ukraine, production service company Kiev, advertising production, production service Kiev, Omerta creation, remote shooting, content production, production crew Kiev, Omerta contacts">
  <title>Omerta Contacts</title>
{% endblock %}

{% block body %}
  <div class="main-screen centered-image full-screen" style="background-image: url(./static/img/contacts-bg.jpg)">
    <div class="contacts">
      <div class="contacts__info">
        <h1 class="contacts__title">Contact</h1>
        <span class="contacts__address">{{ error_address }}</span>
        {% for obj in addresses %}
          <a class="contacts__main-contact" href="mailto:{{ obj.email }}">{{ obj.email }}</a>
          <span class="contacts__address">{{ obj.place }}</span>
          <a class="contacts__coordinates" href="{{ obj.link_for_google_maps }}" target="_blank" title="{{ obj.place }}">see on the map</a>
        {% endfor %}
      </div>
      <div class="contacts__list">
        <div class="contacts__name">{{ error_cont }}</div>
        {% for obj in contacts %}
          <div class="contacts__item-block">
            <div class="contacts__name">{{ obj.name }}</div>
            <div class="contacts__position">{{ obj.position }}</div><a class="contacts__phone" href="tel:{{ obj.phone }}">{{ obj.phone }}</a><a class="contacts__email" href="mailto:{{ obj.email }}">{{ obj.email }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <a class="logo-link production-logo only-mobile" href="{% url 'works' %}">
    <svg class="icon-logo logo">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
    </svg>
  </a>
{% endblock %}