<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-173028095-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-173028095-1');
    </script>
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="production company, shooting in Ukraine, service production Kiev, advertising production, production service Ukraine, Omerta creation, remote shooting, content production, production manager, postproduction, production studio, video production, production director, house production, shooting advertising, photo shooting advertising, Omerta, shooting, film in Ukraine, cinematography, location, art department, film service">
    <meta name="description" content="Omerta is a production crew based in Kiev. Commercials // Music video. Production service // Directors // Photographers in Ukraine. @omertacreation">
    <meta name="og:description" content="Production company based in Kiev, Ukraine. @omertacreation">
    {% block head %}
    <title>Omerta</title>
    {% endblock %}
    {% load static %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- SVG-->
    <div class="svg-container" style="position: absolute; width: 0; height: 0; overflow: hidden;"><svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="icon-logo" viewBox="0 0 282.8 352.6">
          <path d="M40.6 233.1l11.2-38.4H59l7.4 28.8 8.2-28.8h7.1l11.2 38.4h-7l-7.6-30.3-6.9 30.3h-9.6l-6.6-30.3-8.1 30.3zm91.6-3.3c-2.8 1.9-8.4 3.3-13.6 3.3-7.5 0-15.7-2.9-15.7-11.2 0-4.6 3.8-8.4 9.2-9.2v-.4c-4.9-1.1-7.4-4.1-7.4-7.7 0-4.9 4.9-9.9 14.9-9.9 4.9 0 8.6 1 11.3 2.8l-1.5 4.4c-1.5-1-5.5-2.3-9.3-2.3-5.2 0-8.6 2.1-8.6 5.5 0 3.6 4.5 5.2 10.4 5.2h4.5v4.8h-4.7c-6.7 0-11.7 1.8-11.7 6.2 0 4.3 4.6 6.7 10.1 6.7 4.1 0 8.7-1.5 10.9-2.8l1.2 4.6zm11.6 3.3h6.3v-29.9c0-.8.8-2.7 3-2.7 2.6 0 5.5 1.9 5.5 1.9v-6.3s-1.7-1.7-4.9-1.7c-1.1 0-5.6-.5-8 2.3-1.8 2.2-2 4-2 5.8.1 2 .1 30.6.1 30.6zm51.7-23.5h-10.1v-14.9h4.4l-10.9-7v21.9h-10.2v11.2l4.5-6.2h5.7v23l-4.4 2.5 10.9 2.5v-28h10.1zm46.8 23.8l-14.4-39h-7.1l-15 39h7.9l4.6-13 .1-.2h3v13.2h5.9v-13.2h2.8l4.4 13.2h7.8zm-22-18.8l4.1-11.5 3.8 11.5h-7.9zM30.2 19.6h203.9v8.5l18.4-19.6H48.6V0z" />
          <path d="M141.4 79.7c35.1 0 68.1 13.7 92.9 38.5 24.8 24.8 38.5 57.8 38.5 92.9 0 35.1-13.7 68.1-38.5 92.9-24.8 24.8-57.8 38.5-92.9 38.5S73.3 328.8 48.5 304C23.7 279.2 10 246.2 10 211.1c0-35.1 13.7-68.1 38.5-92.9 24.8-24.8 57.8-38.5 92.9-38.5m0-10C63.3 69.7 0 133 0 211.1s63.3 141.4 141.4 141.4 141.4-63.3 141.4-141.4S219.5 69.7 141.4 69.7z" />
        </symbol>
      </svg></div>
    <script>
      document.createElement('picture');
    </script><!-- Header-->
    <header></header><!-- Main content-->
    {% block body %}
    <main class="content" data-page="home">
      <div class="main-screen centered-image full-screen">
        <div class="shadowed clip">
          <div class="main-screen centered-image only-mobile full-screen"></div>
          <div class="clip__video-wrap js-clips-block">
          <div class="clip__video-item active js-clip-wrapper">
            <video class="fullscreen" poster="{% static 'img/preload.jpg' %}" preload="auto" autoplay loop muted playsinline data-clip-num="0">
              <source src="{% static 'video/1.uber-ratings.mp4' %}" type="video/mp4">
              <!-- <source src="{{ preview_video.video_url }}" type="video/mp4">
              <source src="{{ preview_video.video_url }}" type="video/webm">
              <source src="{{ preview_video.video_url }}" type="video/mov"> -->
            </video>
            <div class="signature only-mobile">
              <span class="first-part__signature">{{ preview_video.name }}</span>
              <span class="second-part__signature">{{ preview_video.nameSecond }}</span>
            </div>
          </div>
            {% for obj in videos %}
                <div class="clip__video-item js-clip-wrapper">
                  <video class="fullscreen" poster="{% static 'img/preload.jpg' %}" preload="auto" autoplay loop muted playsinline data-clip-num="{{ obj.number | add:-1 }}">
                    <p>{{ obj.number }}</p>
                    <source src="{{ obj.video_url }}" type="video/mp4">
                    <source src="{{ obj.video_url }}" type="video/webm">
                    <source src="{{ obj.video_url }}" type="video/mov">
                  </video>
                  <div class="signature only-mobile">
                    <span class="first-part__signature">{{ obj.name }}</span>
                    <span class="second-part__signature">{{ obj.nameSecond }}</span>
                  </div>
                </div>
            {% endfor %}
          </div>
          <div class="clip__controls js-clip-controls">
          <ul class="clip__control-item">
            <li><span class="clip__link js-clip-ctrl active" data-control-num="0">{{ preview_video.number }}</span></li>
          </ul>
            {% for obj in videos %}
              <ul class="clip__control-item">
                <li><span class="clip__link js-clip-ctrl " data-control-num="{{ obj.number | add:-1 }}">{{ obj.number }}</span></li>
              </ul>
            {% endfor %}
          </div>
          <ul class="social-device social-device__index">
            <li class="social__item"><a class="social__link" href="mailto:hookup@omertacreation.com"
                title="hookup@omertacreation.com">
                <img src="{% static 'img/social-icons/email-icon.png' %}" />
              </a></li>
            <li class="social__item"><a class="social__link" href="https://vimeo.com/user94596369" target="_blank"
                title="https://vimeo.com/user94596369">
                <img src="{% static 'img/social-icons/vimeo-icon.png' %}" />
              </a></li>
            <li class="social__item"><a class="social__link" href="https://instagram.com/omertacreation" target="_blank"
                title="https://instagram.com/omertacreation">
                <img src="{% static 'img/social-icons/instagram-icon.png' %}" />
              </a></li>
          </ul>
        </div>
        {% load static %}
        <div class="backdrop"></div>
        <a class="logo-link production-logo" href="{% url 'contacts' %}">
          <img class="icon-logo logo" src="{% static 'img/omerta-logo.png' %}" />
        </a>
        <div class="burger js-matrix">
          <div class="burger__body js-burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>
        </div>
        <ul class="nav js-nav">
          <li class="nav__item"><a class="nav__link" href="{% url 'home' %}" title="Home">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="{% url 'works' %}" title="Works">Works</a></li>
          <li class="nav__item"><a class="nav__link" href="{% url 'directors' %}" title="Directors">Directors</a></li>
          <li class="nav__item"><a class="nav__link" href="{% url 'photographers' %}" title="Photographers">Photographers</a></li>
          <li class="nav__item"><a class="nav__link" href="{% url 'about_us' %}" title="About Us">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="{% url 'contacts' %}" title="Contacts">Contacts</a></li>
        </ul>
        <ul class="social">
          <li class="social__item"><a class="social__link" href="mailto:hookup@omertacreation.com" title="hookup@omertacreation.com">Email</a></li>
          <li class="social__item"><a class="social__link" href="https://vimeo.com/user94596369" target="_blank" title="https://vimeo.com/user94596369">vimeo</a></li>
          <li class="social__item"><a class="social__link" href="https://instagram.com/omertacreation" target="_blank" title="https://instagram.com/omertacreation">instagram</a></li>
        </ul>
        <div class="footer-index">
      </div>
    </main><!-- Footer-->
    {% endblock %}
    <footer></footer><!-- Scripts-->
    <script src="https://player.vimeo.com/api/player.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/index.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  </body>
</html>
