{% extends 'base.html' %}
{% block head %}
  <meta name="keywords" content="portfolio, works, advertising campaign, production service works, production service company, shooting in Ukraine, advertising production, production service Kiev, Omerta creation, Omerta, production company Kiev, remote shooting, content production, service production Kiev, production team Ukraine">
  <title>Works</title>
{% endblock %}

{% block body %}
  <main class="content" data-page="works">
    <div class="main-screen works full-screen">
      <div class="artist-page-name">Works</div>
      <div class="artist-page-name">{{ error }}</div>
      <div class="preview-slider">
        <div class="swiper-container js-preview-slider no-overflow">
          <div class="swiper-wrapper">
            {% for obj in works %}
              <div class="swiper-slide">
                {% if obj.choice_player == 'vimeo' %}
                  <iframe class="preview-slider__media preview-slider__iframe vimeo-video js-vimeo-video" id="player{{ obj.id }}" src="{{ obj.link_for_video }}api=1&amp;background=0&amp;autoplay=0&amp;loop=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player{{ obj.id }}" type="text/html" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                {% elif obj.choice_player == 'YouTube' %}
                  <iframe class="preview-slider__media preview-slider__iframe vimeo-video" width="100%" src="{{ obj.link_for_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                {% endif %}
                <h3 class="preview-slider__title">{{ obj.name }}<span class="creds creds_small grey">{{ obj.description | linebreaks }}</span></h3>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev">
            <div class="arrow-prev"></div>
          </div>
          <div class="swiper-button-next">
            <div class="arrow-next"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}